body{
    font: 12pt comic-sans;
}
#content {
    height: 300px;
    width: 500px;
    margin: auto;
    margin-top:  100px;
    box-shadow: 0 0 20px greenyellow;
    border: 1px solid green;
    padding-top: 10px;
    background-color: white;
}
h1{
    text-align: center;
    margin-left: -10px;
    color: green;
}
form{
    margin: 20px 0 0 90px;
}
input {
    margin: 5px;
    width: 60%;
    height: 20px;
    margin-left: 10px;
    position: relative;
    right: 10px;
    border: 1px solid gray;
}

#submit{
    margin: 20px 60px;
    height: 30px;
    align-self: center;
    background-color: greenyellow;
    font: 12pt comic-sans;

}
.s{
    margin-left:27px;
}
#p{
    width: 59%;
}